body, html {
  height: 100%;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
}

svg{
  display: block;
}

a{
  text-decoration: none;
}

input{
  border: none;
}

button {
  cursor: pointer;
  padding: 0;
  background-color: initial;
  border: none;
  outline: none;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
}

.button{
  padding: 13px 27px;
  border: 1px solid #fff;
  border-radius: 50px;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.block-scroll{
  overflow: hidden;
}

.visibility-hidden {
  visibility: hidden;
}

.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.image{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.image-circle{
  border-radius: 50%;
}

.image-objf{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.image-objf-contain{
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
}